[submodule "dsi/github-stats"]
	path = dsi/github-stats
	url = git@github.com:mikededo/github-stats
[submodule "phds/fileparser"]
	path = phds/fileparser
	url = git@gitlab.com:mikeddg/fileparser.git
[submodule "dm"]
	path = dm
	url = git@github.com:sdomingobasora/mds-restapi
[submodule "dsii/group"]
	path = dsii/group
	url = git@github.com:uricantasala/mdas-api-g3.git
[submodule "dsii/single"]
	path = dsii/single
	url = git@github.com:uricantasala/mdas-api-g3.git
